<h1>Poblacion portadora de magia</h1>
<hr>

<div class="row">
    <div class="col">
        <!-- Lo que pone en la API
            <div style="display: block">
            <canvas baseChart
                [data]="doughnutChartData"
                [type]="doughnutChartType">
            </canvas>
            </div>
        -->

        <!-- Lo que fuinciona -->
        <div style="display: block">
            <canvas baseChart
              [data]="doughnutChartData"
              [labels]="doughnutChartLabels"
              [chartType]="doughnutChartType"
              [colors]="colors"
              >
            </canvas>
        </div>

    </div>
</div>
<br>
<br>
<br>
<div class="row">
    <div class="col">

        <div style="display: block">
            <canvas baseChart
              [data]="doughnutChartData1"
              [labels]="doughnutChartLabels"
              [chartType]="doughnutChartType"
              [colors]="colors"
              >
            </canvas>
        </div>

    </div>
</div>

