<h1>Radar</h1>
<hr>

<div class="row">
    <div class="col">

        <!-- Lo que pone en la API
            <div style="display: block">
                <canvas baseChart
                    [data]="radarChartData"
                    [options]="radarChartOptions"

                    [type]="radarChartType">
                </canvas>
            </div>
        --> 
         
        <!-- Lo que fuinciona -->
        <div style="display: block">
            <canvas baseChart
              [data]="radarChartData"
              [labels]="radarChartLabels"
              [chartType]="radarChartType">
            </canvas>
          </div>

    </div>
    <p>No he conseguido hacer que las labels sean distintas, tanto la de los titulos como la de la grafica</p>
</div>

